{% extends 'base/base.html' %}
{% load static %}
{% block content %}


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX5VQP" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Car Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            {% for car in cars %}
            <div class="col-lg-4 col-md-4">
                <div class="car-box-3">
                    <div class="car-thumbnail">
                        <a href="" class="car-img">
                            <div class="tag">For Rent</div>
                            <div class="price-box">
                                <span>$780.00</span>
                            </div>
                            <img class="d-block w-100" src="{{car.main_image.url}}" alt="car">
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{car.main_image.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{car.main_image.url}}">
                                        </a>
                                        <a href="{{car.gallery_image_2.url}}" class="hidden">
                                            <img class="hidden" src="{{car.gallery_image_1.url}}">
                                        </a>
                                        <a href="{{car.gallery_image_2.url}}" class="hidden">
                                            <img class="hidden" src="{{car.gallery_image_2.url}}">
                                        </a>
                                        <a href="{{car.gallery_image_3.url}}" class="hidden">
                                            <img class="hidden" src="{{car.gallery_image_3.url}}">
                                        </a>
                                        <a href="{{car.gallery_image_4.url}}" class="hidden">
                                            <img class="hidden" src="{{car.gallery_image_4.url}}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'car_details' car.slug %}">{{car.title}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'car_details' car.slug %}">
                                <i class="flaticon-pin"></i>{{car.location}}
                            </a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>{{car.fuel_type}}</li>
                            <li>{{car.kilometers}} km</li>
                            <li>{{car.transmission}}</li>
                            <li>{{car.category}}</li>
                            <li>{{car.color}}</li>
                            <li>{{car.year}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Page navigation start -->
        <div class="pagination-box p-box-2 text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if cars.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ cars.previous_page_number }}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"><i class="fa fa-angle-left"></i></span>
                    </li>
                    {% endif %}

                    {% for num in cars.paginator.page_range %}
                    {% if cars.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if cars.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ cars.next_page_number }}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"><i class="fa fa-angle-right"></i></span>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </div>
</div>
<!-- Featured car end -->
{% endblock %}